* {
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

html,
body {
	-webkit-font-smoothing: antialiased;
	
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height: 100%;
}

body {
	background: white;
	color: #fff;
}

.circle {
	display: flex;
	align-items: center;
	z-index: 11;
	padding-top: 0em;
	width: 18em;
	height: 18em;
	border: none;
	background: none;
	color: #15315C;
	font-size: 1.5em;
}

/* COLLECTIVE NAV */
#headerNav {
	box-shadow: 0px 0px 10px rgb(92, 92, 92);
	height: 10%;
	display: grid;
}

/* COLLECTIVE START */
.content {
	width: 100%;
}

.nav {	
	padding: .5em;
}

.nav, .circle {
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.nav, .nav li {
	overflow: hidden;
}

.nav li a {
	text-decoration: none;
}

.nav, .nav:after, .nav li a, .circle {
	border-radius: 50%
}

.nav, .nav:after, .nav li, .nav li a, .circle {
	position: absolute;
}

.nav, .circle, 
.nav li a:hover,
.nav li a:active,
.nav li a:focus {
	background-color: #fff
}

.nav:after, .nav li a, .nav li a span {
	display: block;
}

.nav:after, .nav li {
	left: 50%;
	top: 50%;
}

.nav li a, .circle {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.nav li, .nav li a, .circle {
	text-align: center;
}

.nav li a span, .circle {
	font-weight: 700;
	text-transform: uppercase;
}

/* COLLECTIVE END */

/* CSSTRANSFORMS START */

.csstransforms .nav {
	z-index: 10;
	width: 27em;
	height: 27em;
	background: transparent;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}

.csstransforms .nav:after{
	content:".";
	font-size:2em;
	width:6.2em;
	height:6.2em;
	margin-left: -3.1em;
	margin-top: -3.1em;
	color: transparent;
}

.csstransforms .nav li {
	margin-top: -1.3em;
	margin-left: -10em;
	width: 10em;
	height: 10em;
	font-size: 1.5em;
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.csstransforms .nav li a {
	right: -7.25em;
	bottom: -7.25em;
	width: 14.5em;
	height: 14.5em;
	background: #15315C;
	background: -webkit-radial-gradient(transparent 35%, #15315C 35%);
	background: -moz-radial-gradient(transparent 35%, #15315C 35%);
	background: radial-gradient(transparent 35%, #15315C 35%);
	color: #fff;
	font-size: 1.2em;
	line-height: 2;
}

.csstransforms .nav li a span {
	top: 1.8em;
	font-size: 12px;
}

.csstransforms .nav li a:hover,
.csstransforms .nav li a:active,
.csstransforms .nav li a:focus {
	background: -webkit-radial-gradient(transparent 35%, rgb(28, 66, 122) 35%);
	background: -moz-radial-gradient(transparent 35%, rgb(28, 66, 122) 35%);
	background: radial-gradient(transparent 35%, rgb(28, 66, 122) 35%);
}

.csstransforms .nav li a:focus {
    position: fixed;
}

/* CSSTRANSFORMS END */



@media only screen and (max-width: 480px) {
	.csstransforms .nav {
		font-size: .68em;
	}

	.circle {
		font-size: 1em;
	}
}