#circle {
    display: flex;
    align-items: center;
    z-index: 11;
    padding-top: 0em;
    width: 18em;
    height: 18em;
    border: none;
    background: none;
    color: #15315C;
    font-size: 1.5em;
}

#MainContent {
    height: 800px;
}

/* COLLECTIVE navigationElements */
#headerNav {
    box-shadow: 0px 0px 10px rgb(92, 92, 92);
    height: 10%;
}

/* COLLECTIVE START */
#content {
    width: 100%;
}

#navigationElements {
    padding: .5em;
}

#navigationElements, #circle {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#navigationElements .circleContent {
    z-index: 200;
}

#navigationElements, #navigationElements .circleContent {
    overflow: hidden;
}

#navigationElements .circleContent a {
    text-decoration: none;
}

#navigationElements, #navigationElements:after, #navigationElements .circleContent a, #circle {
    border-radius: 50%
}

#navigationElements, #navigationElements:after, #navigationElements .circleContent, #navigationElements .circleContent a, #circle {
    position: absolute;
}

#navigationElements, #circle,
#navigationElements .circleContent a:hover,
#navigationElements .circleContent a:active,
#navigationElements .circleContent a:focus {
    background-color: #fff
}

#navigationElements:after, #navigationElements .circleContent {
    left: 50%;
}

#navigationElements .circleContent a, #circle {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#navigationElements .circleContent, #navigationElements .circleContent a, #circle {
    text-align: center;
}

#navigationElements .circleContent a span, #circle {
    font-weight: 700;
    text-transform: uppercase;
}

/* COLLECTIVE END */

/* CSSTRANSFORMS START */

#navigationElements {
    z-index: 10;
    width: 27em;
    height: 27em;
    background: transparent;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

#navigationElements:after {
    content: ".";
    font-size: 2em;
    width: 6.2em;
    height: 6.2em;
    margin-left: -3.1em;
    margin-top: -3.1em;
    color: transparent;
}

#navigationElements .circleContent {
    margin-top: -1.3em;
    margin-left: -10em;
    width: 10em;
    height: 10em;
    font-size: 1.5em;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

#navigationElements .circleContent a {
    right: -7.25em;
    bottom: -7.25em;
    width: 14.5em;
    height: 14.5em;
    background: #15315C;
    background: -webkit-radial-gradient(transparent 35%, #15315C 35%);
    background: -moz-radial-gradient(transparent 35%, #15315C 35%);
    background: radial-gradient(transparent 35%, #15315C 35%);
    color: #fff;
    font-size: 1.2em;
    line-height: 2;
}

#navigationElements .circleContent a span {
    top: 1.8em;
    font-size: 12px;
}

#navigationElements .circleContent a:hover,
#navigationElements .circleContent a:active,
#navigationElements .circleContent a:focus {
    background: -webkit-radial-gradient(transparent 35%, rgb(28, 66, 122) 35%);
    background: -moz-radial-gradient(transparent 35%, rgb(28, 66, 122) 35%);
    background: radial-gradient(transparent 35%, rgb(28, 66, 122) 35%);
}

#navigationElements .circleContent a:focus {
    position: fixed;
}

/* CSSTRANSFORMS END */



@media only screen and (max-width: 480px) {
	.csstransforms .nav {
		font-size: .68em;
	}

	.circle {
		font-size: 1em;
	}
}
